.menu{
    background-color: #1c1c1c;
    width: 180px;
    height: 100%;
    position: fixed;
  }
  
  .menu .logo{
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .menu .logo img{
   width: 100%;
  }
  
  .menu li {
    margin-top: 2px;
  }

  .menu li:hover {
    margin-top: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0));
  }
  
  .menu li a{
    color: rgb(194, 194, 194);
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .material-symbols-outlined{
    margin-right: 10px;
  }
  
  .name{
    color: rgb(194, 194, 194);
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    padding: 25px;
  }
  
  .name span{
    color: #fff;
  }
  
  