.table {
  background-color: #fff;
  border-radius: 5px;
}

.table .thead-users {
  background-color: #1c1c1c;
  color: rgb(194, 194, 194);
  border-radius: 20px;
}

.th-start {
  border-radius: 5px 0 0;
}

.th-end {
  border-radius: 0 5px 0 0;
}

.table td {
  color: rgb(78, 78, 78);
  font-size: 0.9rem;
}

.table th {
  cursor: pointer;
}

.table th:hover {
  color: #fff;
}

.table .items-tr:hover {
  background-color: rgb(240, 240, 240);
}

.btn-action {
  cursor: pointer;
  border-radius: 10px;
}

.btn-action:hover {
  background-color: rgba(212, 212, 212, 0.5);
}

.loading {
  margin-top: 250px;
}

.icon-sync {
  transform: rotate(90deg);
  font-size: 18px;
}

.icon-arrow {
  font-size: 18px;
  padding-top: 2px;
  transition: 0.2s;
}

.rotate-icon {
  transform: rotate(180deg);
}
