.App {
  background-color: rgb(240, 240, 240);
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(240, 240, 240);
}

::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 20px;
}
